.product-list {
    padding-left: 150px;
    padding-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-top: 80px;
}

.product-list__item {
    list-style: none;
    width: 32%;
}

.aboutus {
    text-align: center;
}
